%h1 バカが征く on Rails
%p
  = link_to "過去ログ", list_entry_index_path
  = link_to "RSS", feed_entry_index_path(:format => :rss)
  = link_to "本家", Settings.baka.url

= render :partial => "month_link"

- if @entries.present?
  %p --
  %p 最近の5件
  %ul
    - @entries.each do |entry|
      %li!= "#{entry.year}年#{entry.month}月#{entry.day}日… #{link_to entry.title, entry_path(entry.bakaid)}"
  %p --
  - f = @entries.first
  %p
    bakaid: #{link_to(f.bakaid, entry_path(f.bakaid))}
  %pre
    != f.text
  %p
    %a{:href => "http://#{Settings.baka.address + Settings.baka.path + f.bakaid}"} 本家Permlink
