- @sub_title = params[:id]

= render :partial => "month_link"

= link_to("ホーム", root_path)
- @entries.each do |entry|
  %hr
  %p= link_to("#{entry.year}年#{entry.month}月#{entry.day}日#{entry.number}", entry_path(entry.bakaid))
  %pre!= entry.text
  %p
    %a{:href => "http://#{Settings.baka.address + Settings.baka.path + entry.bakaid}"} 本家Permlink
